---
layout: default
---

<div class="home">
  <h1 class="page-heading">文章列表</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        <div class="post-meta">
          {% if post.author %}<i class="icon-user"></i>&nbsp;{{ post.author }}{% endif %}
          {% if post.meta %} &nbsp;{{ post.meta }}{% endif %}
           &nbsp; <i class="icon-time"></i>&nbsp;{{ post.date | date: "%Y-%m-%d" }}
          </div>
        <div class="post-excerpt">
          {{ post.excerpt }}
          <p>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">阅读全文 &raquo;</a>
          </p>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">PREV</a>
  {% else %}
    <span class="previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">NEXT</a>
  {% else %}
    <span class="next ">NEXT</span>
  {% endif %}
</div>

</div>
