---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"> 
      {% if page.author %}<i class="icon-user"></i>&nbsp;{{ page.author }}{% endif %}
      {% if page.meta %} &nbsp;{{ page.meta }}{% endif %}
       &nbsp; <i class="icon-time"></i>&nbsp;{{ page.date | date: "%Y-%m-%d" }} 
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  {% include comment.html %}

</div>
